.dop {
  width: 718px;
  background: rgba(12, 107, 197, 0.2);
  border-radius: 16px;
  display: block;
  height: 100%;
  padding: 32px;
  text-align: left;
}

.imgbox {
  width: 100%;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.15);
  border-radius: 16px;
  display: flex;
  height: 470px;
  justify-content: center;
  margin-bottom: 32px;
  overflow: hidden;
}

.img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

.title {
  width: 70%;
  color: #fff;
  font-family: "TT Norms", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 12px;
}

.text {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 16px;
  max-width: 800px;
  font-family: "TT Norms", sans-serif;
}

.d {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: auto;
  font-family: "TT Norms", sans-serif;
}
