* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "TT Norms", sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1680px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
